<section class="topsection pageheader" ng-init="sc.getProfile()">>
  <div class="container">
    <div class="row">

      <div class="col-sm-12">
        <h1 class="pageheadertitle">About</h1>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <div class="imgprofile">
          <img ng-src="{{ sc.profile.avatar_url }}" class="img-responsive img-circle" alt="">
        </div>
      </div>

      <div class="col-sm-8">
        <h2>Hello! I'm <span class="title">Mohamed H. Mohamed</span></h2>

        <p class="lead ">I am software developer and proud public servant with a passion for people and technology.</p>
        <p class="lead ">My interdisciplinary background includes experience serving as a soldier in the US Army; in various private sector positions; as an organizer for both community and political organizations; as a self-taught digital media artist; and as a leader
          in a government agency and non-profit organization, and has given me a unique perspective and skillset.</p>
        <hr>
        <h2 class="title">Capabilities</h2>
        <div class="stacked-bars">
          <p class="skill-segment" style="width: 90%; background-color: #4AC6B7;">
            <strong class="skill-name">HTML/CSS</strong> <span class="skill-value">90%</span>
          </p>
          <p class="skill-segment" style="width: 80%; background-color: #4F5E7F;">
            <strong class="skill-name">JavaScript</strong> <span class="skill-value">80%</span>
          </p>
          <p class="skill-segment" style="width: 75%; background-color: #41B3D3;">
            <strong class="skill-name">Node/Express</strong> <span class="skill-value">75%</span>
          </p>
          <p class="skill-segment" style="width: 70%; background-color: #965F8A;">
            <strong class="skill-name">SQL/MongoDB</strong> <span class="skill-value">70%</span>
          </p>
          <p class="skill-segment" style="width: 85%; background-color: #FF7070;">
            <strong class="skill-name">GitHub</strong> <span class="skill-value">85%</span>
          </p>
        </div>
      </div>

    </div>

  </div>
  </div>
</section>
